<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> APP </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- se hace link a los archivos estaticos que habiamos definido -->
        <link rel="stylesheet" href="{{ url_for('statics', path='/styles.css') }}"> 
    </head>
    <body>
        <h1> {{message}}</h1>
    </body>
</html>